{% load static %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Syne Travels</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
    </nav>
    <span id="notLoggedIn"></span>
    <span id="loggedin"></span>
</div>

<script>
    const notLoggedIn = `
    <a class="btn btn-outline-primary" href="{% url 'registration' %}">Register</a>
    &nbsp;
    <a class="btn btn-outline-primary" href="{% url 'login' %}">Login </a>
    `
    const loggedIn = `
        <a class="p-2 text-dark" href="{% url 'booking' %}">Booking</a>
        <a class="p-2 text-dark" href="{% url 'profile' %}">Profile</a>
        <a class="p-2 text-dark" onclick="logout();" href="#">Logout</a>
    `
    if(!isLogedIn()) {
        elmById('notLoggedIn').innerHTML = notLoggedIn;
    } else {
        elmById('notLoggedIn').innerHTML = loggedIn;
    }

</script>