{% extends 'base.html' %}

{% load humanize %}

{% block title %} Welcome to Syne Travels {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
      <h2>Book Flight Tickets</h2>
      <div class="bootstrap-iso">
          <div class="container-fluid">
           <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
         
             <!-- Form code begins -->
             <form method="get" action='/result'>
                <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="from_location">Flying From</label>
                      <select name="from_location" id="from_location">
                        <option label="From" value="">From</option>
                        <option label="Lagos (LOS)" value="Lagos">Lagos (LOS)</option>
                        <option label="Abuja (ABV)" value="Abuja">Abuja (ABV)</option>
                        <option label="Port Harcourt (PHC)" value="Port Harcourt">Port Harcourt (PHC)</option>
                        <option label="Bauchi (BCU)" value="Bauchi">Bauchi (BCU)</option>
                        <option label="Benin (BNI)" value="Benin">Benin (BNI)</option>
                        <option label="Gombe (GMO)" value="Gombe">Gombe (GMO)</option>
                        <option label="Ibadan (IBA)" value="Ibadan">Ibadan (IBA)</option>
                        <option label="Ilorin (ILR)" value="Ilorin">Ilorin (ILR)</option>
                        <option label="Jos (JOS)" value="Jos">Jos (JOS)</option>
                        <option label="Kaduna (KAD)" value="Kaduna">Kaduna (KAD)</option>
                        <option label="Sokoto (SKO)" value="Sokoto">Sokoto (SKO)</option>
                        <option label="Yola (YOL)" value="Yola">Yola (YOL)</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="to_location">Flying To</label>
                      <select name="to_location" id="to_location">
                        <option label="To" value="">To</option>
                        <option label="Lagos (LOS)" value="Lagos">Lagos (LOS)</option>
                        <option label="Abuja (ABV)" value="Abuja">Abuja (ABV)</option>
                        <option label="Port Harcourt (PHC)" value="Port Harcourt">Port Harcourt (PHC)</option>
                        <option label="Bauchi (BCU)" value="Bauchi">Bauchi (BCU)</option>
                        <option label="Benin (BNI)" value="Benin">Benin (BNI)</option>
                        <option label="Gombe (GMO)" value="Gombe">Gombe (GMO)</option>
                        <option label="Ibadan (IBA)" value="Ibadan">Ibadan (IBA)</option>
                        <option label="Ilorin (ILR)" value="Ilorin">Ilorin (ILR)</option>
                        <option label="Jos (JOS)" value="Jos">Jos (JOS)</option>
                        <option label="Kaduna (KAD)" value="Kaduna">Kaduna (KAD)</option>
                        <option label="Sokoto (SKO)" value="Sokoto">Sokoto (SKO)</option>
                        <option label="Yola (YOL)" value="Yola">Yola (YOL)</option>
                      </select>
                    </div>
                  </div>
               <div class="form-group"> <!-- Date input -->
                 <label class="control-label" for="date">Depature Date</label>
                 <input class="form-control" id="date" name="departure_time" placeholder="YYY-MM-DD" type="text"/>
               </div>
               <div class="form-group"> <!-- Submit button -->
                 <button class="btn btn-primary " name="search" type="submit">Search Flight</button>
               </div>
              </form>
              <!-- Form code ends --> 
         
             </div>
           </div>    
          </div>
         </div>
    </div>
  
    {% include 'partials/_footer.html' %}
  </div>
{% endblock %}